
/*
* { outline: 1px solid palevioletred;}
*/

body {
    font-family:'Roboto', sans-serif;
    color: ;
    background-color: pink;
}

header, section#primera {
    width: 900px;
    margin: 0 auto;
}

nav {
    position: sticky;
    top: 0;
    
    
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: rosybrown;
}

nav ul li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    background-color: pink;
    border: solid rosybrown;
    text-transform: uppercase;
}
nav ul li a{
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: rosybrown;
}
header {
    display: flex;
    background-color: palevioletred;
    color: black;
    padding-top: 16px ;
    padding-left: 16px;
    padding-bottom: 16px;
}

section#primera {
    display: flex;
   
}

 article {
    width: 40%;
    text-align:left ;
 }

 aside {
    width: 40%
 }

img {
    height="200px"; 
    width="200px";
    margin-right: 16px;
}

div#caracteristicas{
    border: 6px dotted palevioletred;
    border-radius: 20px;
    margin-top: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

section#interes {
    background-color: palevioletred;
    height: 30vh;
    width: 100%;
    margin: 0;
    padding:30px ;
    display: flex;
}
section#interes h2 {
    padding: 50px;
}

section#interes button#uno,button#dos {
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 2px;
}

section#interes button#dos:hover {
    background-color: red;

}

section#interes h1 {
    padding: 50px;
    color: white;
    font-family:cursive
}

section#interes button#uno:hover {
    background-color: green;
}

section#Contacto {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: rosybrown;
}
 
section#Contacto form div {
    padding: 15px;
    border: 10px;
    
}



section#Contacto h1 {
    justify-content: center;
    padding: 30px;
}